COMPOSE_PROJECT_NAME=docker_project_name (mainly required if you are using traefik reverse proxy created on another docker-compose file. Please check https://docs.docker.com/compose/networking/ for more details.
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_PASSWORD=YOUR_USER_PASSWORD
MYSQL_HOST=THE_NAME_OF_MYSQL_HOST
MYSQL_PORT=THE_PORT_OF_MYSQL_HOST
MYSQL_BACKUP_HIST_SIZE=10
MYSQL_BACKUP_PREFIX=backup-fulldb
MYSQL_BINLOG_PREFIX=binlog
REMOTE_NAME=remote_name
REMOTE_PATH=bucket_path
